<!-- https://codepen.io/KeithPaul/pen/zYGeema -->
<script src = "/assets/js/404.js" rel = "script" defer></script>
<div class = "not-found">
  <div class = "wrapper">
    <div class = "text_group">
      <p class = "text_404">404</p>
      <p class = "text_lost">The page you are looking for <br/>has been lost&hellip;</p>
    </div>
    <div class = "window_group">
      <div class = "window_404">
        <div class = "stars"></div>
      </div>
    </div>
    <a class = "btn btn-outline-primary" href = "{{ site.baseurl }}/" id="back-home">Go Back Home</a>
  </div>
</div>