<div class = "animate__animated animate__fadeIn animate__slow col-sm-6 col-lg-4 mb-4">
  <a href = "{{ app_url }}" class = "app card text-themed" {%- if external and site.open_new_tab -%} target = "_blank"
     {%- endif -%}>
    {%- if app_img -%}
    <img id = "{{ app_id }}-img" class = "card-img-top" src = "{{ app_img }}" alt = "{{ app_name }}"/>
    {%- endif -%}
    <div class = "card-body">
      <h5 id = "{{ app_id }}-name" class = "card-title">
        {%- if app_type == "remote" -%}
        <i class = "fab fa-github" data-bs-toggle = "tooltip" data-bs-placement = "bottom" data-bs-delay = "250"
           title = "GitHub Repository"></i> |&nbsp;
        {%- endif -%}
        {{ app_name }}
      </h5>
      <p id = "{{ app_id }}-desc" class = "card-text">{{ app_desc }}</p>
      <p id = "{{ app_id }}-tools" class = "card-text">
        {%- for tool in app_tools -%}
        <span class = "badge rounded-pill text-primary link-primary border border-primary ms-1">{{ tool }}</span>
        {%- endfor -%}
      </p>
    </div>
  </a>
</div>